.Battle {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url(/assets/maps/gardenBattle.png);
    background-size: cover;
    image-rendering: pixelated;
}

.Battle_hero, .Battle_enemy {
    position: absolute;
    transform: scale(2);
    width: 32px;
    height: 32px;
    overflow: hidden;
}

.Battle_hero img, .Battle_enemy img {
    pointer-events: none;
}

.Battle_hero {
    bottom: 57px;
    left: 1px;
}

.Battle_hero img {
    transform: translateY(-22px); /*nudge sprite sheet*/
} 

.Battle_enemy img {
    transform: translateY(-400px); /*nudge sprite sheet*/
} 

.Battle_enemy {
    top: 96px;
    right: 32px;
}