.DisplayImage {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,0.8);
}

.DisplayImage_button {
    position: absolute;
    right: 10px;
    bottom: 10px;
}